[Unit]
Description=MLflow - F2 Reproduction

Requires=postgres.container
Requires=seaweed-s3.container
After=postgres.container seaweed-s3.container

[Container]
Image=mlflow-postgres.build
ContainerName=mlflow_f2

Network=postgres.network

Secret=mlflow_f2_pgpass,target=/run/secrets/pgpass,mode=0600
Secret=mlflow_f2_s3_access_key,type=env,target=AWS_ACCESS_KEY_ID
Secret=mlflow_f2_s3_secret_key,type=env,target=AWS_SECRET_ACCESS_KEY
Environment=PGPASSFILE=/run/secrets/pgpass
Environment=MLFLOW_S3_ENDPOINT_URL=https://esillileu-server.tail4941d3.ts.net:9000
Environment=MLFLOW_BOTO_CLIENT_ADDRESSING_STYLE=path
Environment=AWS_DEFAULT_REGION=us-east-1
Environment=AWS_REGION=us-east-1

PublishPort=127.0.0.1:5002:5000

Exec=mlflow server \
--backend-store-uri postgresql+psycopg2://mlflow_f2@postgres:5432/mlflow_f2 \
--allowed-hosts localhost:5000,127.0.0.1:5000,localhost:5002,127.0.0.1:5002,127.0.0.1:15002,esillileu-server.tail4941d3.ts.net \
--cors-allowed-origins https://esillileu-server.tail4941d3.ts.net \
--static-prefix /mlflow-f2 \
--artifacts-destination s3://mlflow-f2-artifacts \
--host 0.0.0.0 \
--port 5000 \
--workers 2

[Service]
Restart=always

[Install]
WantedBy=default.target
