[Unit]
Description=MLflow - F2 Reproduction

Requires=postgres.container
After=postgres.container

[Container]
Image=mlflow-postgres.build
ContainerName=mlflow_f2

Network=postgres.network

Volume=/persist/srv/mlflow/mlflow_f1:/mlartifacts

Secret=mlflow_f2_pgpass,target=/run/secrets/pgpass,mode=0600
Environment=PGPASSFILE=/run/secrets/pgpass

PublishPort=127.0.0.1:5002:5000

Exec=mlflow server \
--backend-store-uri postgresql+psycopg2://mlflow_f2@postgres:5432/mlflow_f2 \
--allowed-hosts localhost:5002,127.0.0.1:5002,127.0.0.1:15002,esillileu-server.tail4941d3.ts.net \
--cors-allowed-origins https://esillileu-server.tail4941d3.ts.net \
--static-prefix /mlflow-f2 \
--artifacts-destination /mlartifacts \
--host 0.0.0.0 \
--port 5000 \
--workers 2

[Service]
Restart=always

[Install]
WantedBy=default.target
